<div class="contianer">

  <div class="col-lg-9">

    <div class="row" style="margin-top: 30px">

      <a class="pull-left col-md-4 col-sm-3" href="#">
        <img class="img-circle public-profile-image" src="{{user.photo}}">
      </a>

      <div class="profile-section col-md-8 col-sm-9">
        <h2 class="media-heading">{{ user.name }}</h2>

        <div class="profile-sub-section">
          <p class="profile-details">Backed 0 Projects</p>
          <p class="profile-details"><em>{{ user.location }}</em></p>
          <a href="{{ user.website }}" class="profile-details label label-info">Website</a>
        </div>
         
        <div class="profile-bio">
          <h5>{{ user.bio }}</h5>
        </div> 
          
      </div>

    </div>

  </div>
  
</div>
