<div class="">
  <h1>Comments</h1>
  <div class="">
    {{#if loggedin }}

    <form id="commentForm" action="/projects/{{project_id}}/comments" method="POST" class="form-inline row" role="form">
      <div class="col-sm-10 input-group">
       <textarea
        id="commentInput"
        name="commentInput"
        class="form-control comment-textarea"
        maxlength="300"
        rows="3"
        placeholder="Comments ..."
        required ></textarea>
      </div>
      <div class="col-sm-2 pull-right input-group">
        <button class="btn btn-info form-control comment-btn">Submit</button>
      </div>
    </form>

    {{else}}

      <p>Need to login to post a comment</p>

    {{/if}}

  </div>

  <hr />
  {{#if comments}}

    <ul id="commentList" class="list-group">

      {{#each comments}}
        
        <li class="row list-group-item">
          {{#if this.isCommentAuthor }}
            <span
              id="{{this._id}}"
              class="glyphicon glyphicon-remove pull-right"
              aria-hidden="true"
              onClick=removeComment() >
            </span>
          {{/if}}

          <div class="pull-left col-sm-2">
            <img src="{{ this.createdBy.photo }}" alt="" style="width:70px; height:70px; border-radius: 50%;">
          </div>
          <div class="col-sm-10"> 
            <p>{{ this.createdBy.name }} - {{ this.createdAt }}</p>
            <p>{{ this.body }}</p>
          </div>
      </li>

      {{/each}}

    </ul>

  {{else}}

    <ul class="list-group">
      <li class="row list-group-item">
        <div class="pull-left col-sm-2">
          <img src="http://res.cloudinary.com/dck7vqmjo/image/upload/v1460055996/bm07qyaoqe3rvu6tbzf5.png" alt="" style="width:70px; height:70px; border-radius: 50%;">
        </div>
        <div class="col-sm-10"> 
          <p>Creator about 1 day ago</p>
          <p>@Kevin Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </li>

      <li class="row list-group-item">
        <div class="pull-left col-sm-2">
          <img src="http://res.cloudinary.com/dck7vqmjo/image/upload/v1460055996/bm07qyaoqe3rvu6tbzf5.png" alt="" style="width:70px; height:70px; border-radius: 50%;">
        </div>
        <div class="col-sm-10"> 
          <p>Alice about 1 day ago</p>
          <p>@Kevin Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. </p>
        </div>
      </li>
    </ul>

  {{/if}}
</div>
