<div class="row">
  <div class="col-sm-12" style="border: 0px solid #F00">
    <div class="panel">
      <h1 class="text-center">{{ project.project_name }}</h1>
      <div class="text-center"> by 
        <strong>
          <a href="/users/{{project.createdBy.id}}">{{ project.createdBy.name }}</a>
        </strong>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8" style="border: 0px solid #ddd">

    <div class="panel">
      <p class="text-center">{{ project.short_description }}</p>
      <img class="img-responsive center-block" src="{{ project.file_path }}" width="500" height="500">
    </div>

    <div>
      <p class="text-center"><span class="badge" style="font-size: 1.2em">{{ project.category }}</span></p>
    </div>

    <div>
      <p class="text-center">{{ project.long_description }}</p>
    </div>

  {{!--     <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div> --}}

    {{!-- Share buttons --}}
    <ul class="list-inline">
      {{!-- Facebook share button --}}
      <li>
        <div 
          class="fb-share-button" 
          data-href="https://obscure-meadow-67002.herokuapp.com/{{ project._id }}" 
          data-mobile_iframe="true"
          data-layout="button_count"></div>
      </li>
      {{!-- Twitter share button --}}
      <li style="vertical-align: top">
        <div style="display: inline">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://obscure-meadow-67002.herokuapp.com/projects/{{ project._id }}" data-text="{{ project.short_description }}" data-via="yuichihagio">Tweet</a>
        </div>
      </li>
    </ul>

    {{> comments/comments project_id=project._id comments=project.comments}}

  </div>
  <div class="col-sm-4" style="border: 0px solid #F00">

    <div class="panel">
      <span class="project-progress">{{ numBackers }}</span> backers
    </div>

    <div class="panel">
      <span class="project-progress"> <strong>${{ currentFunds }}</strong><br /></span> pledged of ${{ project.funding_goal }} goal
    </div>

    <div class="panel">
      {{#if isProjectActive }}
        <span class="project-progress"> {{ dayTil }} </span> left
      {{else}}
        Funding ended.
      {{/if}}
    </div>

    <div class="panel">
      {{#if isProjectActive }}
        <a href="/projects/{{ project._id }}/rewards" class="btn pledge-button">Back the project</a>
      {{else}}
        <a href="#" class="btn btn-default disabled">No rewards available</a>
      {{/if}}
    </div>

  </div>
</div>
