<div class="sub-container">
  <div class="row">
    <div class="panel panel-default">
      
      <div class="text-center">
        <h1 class="">{{ project.project_name }}</h1>
        <p class=""> by {{ project.createdBy.name }}</p>
        <h3>Choose your reward</h3>
      </div>

      <ul class="list-group">
        {{#each project.rewards}}
          <a href="/projects/{{ ../project.id }}/rewards/{{ this.id }}" class="list-group-item">
            <h1>${{ this.amount }} <small style="font-size: 0.5em">- {{ this.numBackers }} backers</small></h1>
            <p>{{ this.description }}</p>
            <p class="date-item">Estimated Delivery: {{ this.estimatedDelivery }}</p>
          </a>
        {{/each}}
      </ul>

{{!--
      <div class="panel-body">
        <form action="/projects/{{ project.id }}/rewards" method="POST" id="payment-form" role="form">

          <span class="payment-errors"></span>

          <div class="form-group">
            <label for="chosenAmount" class="col-sm-2 control-label">Amount</label>
            <div class="col-sm-10">
              <input
                type="number"
                class="form-control"
                id="chosenAmount"
                name="chosenAmount"
                placeholder="$"
                required />
            </div>
          </div>
          
          <div class="form-group">
            <label class="control-label">Card Number</label>
            <input
              type="text"
              class="form-control"
              maxlength="16"
              data-stripe="number"
              placeholder="4242 4242 4242 4242"
              autofocus
              required/>
          </div>

          <div class="row">
            <div class="col-xs-7 col-md-7">
              <div class="form-group">
                <label class="control-label">Expiration (MM/YYYY)</label>

                <div class="col-xs-5 col-lg-5 pl-ziro" style="padding-left: 0px">
                  <input
                    type="text"
                    class="form-control"
                    maxlength="2"
                    data-stripe="exp-month"
                    placeholder="MM"
                    required />
                </div>

                <div class="col-xs-7 col-lg-7 pl-ziro" style="padding-left: 0px">
                  <input 
                    type="text"
                    class="form-control"
                    maxlength="4"
                    data-stripe="exp-year"
                    placeholder="YYYY"
                    required />
                </div>

              </div>
            </div>

            <div class="col-xs-5 col-md-5 pull-right">
              <div class="form-group">
                <label class="control-label">CVC</label>
                <input
                  type="text"
                  class="form-control"
                  maxlength="3"
                  data-stripe="cvc"
                  placeholder="123"
                  required />
              </div>
            </div>
          </div>

          <div class="form-group">
            <button id="cardSubmit" type="submit" class="btn btn-info btn-block pledge-button">Submit Payment</button>
          </div>

        </form>
      </div>
--}}

    </div>
  </div>
</div>