<div class="sub-container">
  <div class="row">
    <div class="panel panel-default">
      
      <div class="text-center">
        <h1 class="">{{ project.project_name }}</h1>
        <p class=""> by {{ project.createdBy.name }}</p>
        <h3>Choose your reward</h3>
      </div>
      
      {{#if project.rewards}}
      <ul class="list-group">
        {{#each project.rewards}}
          <a href="/projects/{{ ../project.id }}/rewards/{{ this.id }}" class="list-group-item">
            <h1>${{ this.amount }} <small style="font-size: 0.5em">- {{ this.numBackers }} backers</small></h1>
            <p>{{ this.description }}</p>
            <p class="date-item">Estimated Delivery: {{ this.estimatedDelivery }}</p>
          </a>
        {{/each}}
      </ul>
      {{else}}
        <div class="text-center">
          <p>No rewards are created yet.</p>
        <div>
      {{/if}}

      {{#if isCreator }}
        <div class="text-center">
          <a href="/projects/{{project.id}}/create-reward" class="">Create Reward</a>
        </div>
      {{/if}}
      
    </div>
  </div>
</div>