<div class="projects">
  <h1>Search Result</h1>
  {{#if data }}
    {{#each data }}
      <div class="col-sm-4 project-detail">
        <div class="project-card text-center">
          <div class="project-info">
            <a href="/projects/{{this._id}}">
              <img class="img-responsive center-block img-thumbnail" src="{{ this._source.file_path }}">
            </a>
            <strong>
              <a href="/projects/{{ this._id }}">{{ this._source.project_name }}</a> 
{{!--               by 
              <a href="/users/{{ this._source.createdBy.id }}">{{ this._source.createdBy.name }}</a> --}}
            </strong>
            </br/>
            <span>{{ this._source.short_description }}</span>
          </div>
          <div class="project-stats">
            <div class="row">
              <div class="col-sm-4 text-center">{{ this._source.fundingPercentage }}% <br/> funded </div>
              <div class="col-sm-4 text-center">${{ this._source.current_funding }} <br/> pledged </div>
              <div class="col-sm-4 text-center project-end-date">{{ this._source.funding_end_date }}</div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{else}}
    <h3>No project found.</h3>
  {{/if}}
</div>