<div class="projects">
  <h2>Search Result for "<span id="search-query">{{ query }}</span>"</h2>
  
  {{#if products }}
    <div id="project-result-box" class="row">
      {{#each products }}
        <div class="col-sm-4 project-detail">
          <div class="project-card text-center">
          
            <div class="project-info">
              <a href="/projects/{{this._id}}">
                <img class="img-responsive center-block img-thumbnail" src="{{ this._source.file_path }}">
              </a>
              <strong>
                <a href="/projects/{{ this._id }}">{{ this._source.project_name }}</a> 
              </strong>
              </br/>
              <span>{{ this._source.short_description }}</span>
            </div>

            <div class="progress progress-bar-custom-style" >
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ this._source.fundingPercentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ this._source.fundingPercentage }}%;">
                <span class="sr-only">{{ this._source.fundingPercentage }}% Complete</span>
              </div>
            </div>

            <div class="project-stats">
              <div class="row">
                <div class="col-sm-4 text-center">{{ this._source.fundingPercentage }}% <br/> funded </div>
                <div class="col-sm-4 text-center">${{ this._source.currentFunds }} <br/> pledged </div>
                <div class="col-sm-4 text-center project-end-date">
                  {{#if this._source.isProjectActive }}
                    {{ this._source.tilEnd }} <br />left
                  {{else}}
                    Expired
                  {{/if}}
                </div>
              </div>
            </div>

          </div>
        </div>
      {{/each}}
    </div>
    
    <hr /> 

    <button id="loadMoreResult" class="btn btn-info btn-lg" >Load More</button>
{{!-- 
    <ul id="search-page-list" class="pagination text-center pagination-lg">
      {{#each pages}}
        <li><a id="page-{{ this }}">{{ this }}</a></li>
      {{/each}}
    </ul> --}}

  {{else}}
    <h3>No project found.</h3>
  {{/if}}
</div>